<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,229},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bg_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,91}}</string>
                <key>sourceSize</key>
                <string>{376,91}</string>
            </dict>
            <key>btn_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,184},{293,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,85}}</string>
                <key>sourceSize</key>
                <string>{293,85}</string>
            </dict>
            <key>btn_anniuanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{293,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,85}}</string>
                <key>sourceSize</key>
                <string>{293,85}</string>
            </dict>
            <key>btn_anniuhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{293,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,85}}</string>
                <key>sourceSize</key>
                <string>{293,85}</string>
            </dict>
            <key>btn_fanhuianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,93},{121,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,89}}</string>
                <key>sourceSize</key>
                <string>{121,89}</string>
            </dict>
            <key>btn_fanhuianniuanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{121,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,89}}</string>
                <key>sourceSize</key>
                <string>{121,89}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,184},{88,88}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{88,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,182},{100,90}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,68},{100,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,187},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>miaozhun.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,145},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>round.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,95},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d37c688ca8e218379e19429e93afa11$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
