<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_fanhuianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{121,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,89}}</string>
                <key>sourceSize</key>
                <string>{121,91}</string>
            </dict>
            <key>btn_fanhuianniuanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,89}}</string>
                <key>sourceSize</key>
                <string>{121,91}</string>
            </dict>
            <key>txt_chongwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,116},{53,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{55,21}</string>
            </dict>
            <key>txt_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,164},{84,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_fanhuianxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,156},{84,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_fanhuihui.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,156},{84,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{57,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,25}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>txt_guoguanfanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,93},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{55,21}</string>
            </dict>
            <key>txt_guoguanxiayiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,61},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,21}}</string>
                <key>sourceSize</key>
                <string>{58,21}</string>
            </dict>
            <key>txt_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_jixuanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,139},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_jixuhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,136},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,113},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_kaishianxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,93},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_kaishihui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_shouye.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,199},{82,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_shouyeanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,227},{82,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_shouyehui.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,199},{82,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_tiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_tiaozhananxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,121},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_tiaozhanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,113},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,222},{84,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_tuichuanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{84,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_tuichuhuii.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,179},{84,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>txt_yinyueguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,76},{116,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{116,35}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
            <key>txt_yinyueguananxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,76},{116,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{116,35}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
            <key>txt_yinyueguanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,39},{116,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{116,35}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
            <key>txt_yinyuekai.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,39},{116,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,35}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
            <key>txt_yinyuekaianxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{116,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,35}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
            <key>txt_yinyuekaihui.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{116,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,35}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_pangpang_ch.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e476132fa27d8f553c97c29c51e6e4$</string>
            <key>textureFileName</key>
            <string>_pangpang_ch.png</string>
        </dict>
    </dict>
</plist>
