<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubing_super_yellow_attack_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,146},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{36,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,50},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{50,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,170},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{38,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,40},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{54,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,88},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{36,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,60},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{36,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{62,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubing_super_yellow_beattack.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,228},{38,44}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{40,42}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{40,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,228},{40,40}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_defend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,190},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_defend_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,126},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_defend_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,210},{34,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_walk_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,190},{36,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,168},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,126},{40,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_walk_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,102},{42,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{40,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{42,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_walk_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,148},{40,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_walk_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,208},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bubing_super_yellow_walk_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,98},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubing_super_yellow.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:810777dddd217c37380ae172ef7f8ff1$</string>
            <key>textureFileName</key>
            <string>bubing_super_yellow.png</string>
        </dict>
    </dict>
</plist>
