<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>web1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,0},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>web2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{137,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,142}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>web3.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,0},{156,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,162}}</string>
                <key>sourceSize</key>
                <string>{156,162}</string>
            </dict>
            <key>web4.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,0},{180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>web5.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,0},{163,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,155}}</string>
                <key>sourceSize</key>
                <string>{163,155}</string>
            </dict>
            <key>web6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{191,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,181}}</string>
                <key>sourceSize</key>
                <string>{191,181}</string>
            </dict>
            <key>web7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,244}}</string>
                <key>sourceSize</key>
                <string>{242,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>web.png</string>
            <key>size</key>
            <string>{1185,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6355ddc3b9decf5f851c5a01fc42c6$</string>
            <key>textureFileName</key>
            <string>web.png</string>
        </dict>
    </dict>
</plist>
